html, body{
    height: 100%;
}

.navbar {
    background-color: #333;
}

.container {
    background-color: #94eae780;
    text-align: center;
    margin-bottom: 5px;
}

.recommendations {
    display: inline-block;
    width: 50%;
}

.list-group-item:hover {
    background-color: rgba(235, 18, 8, 0.7);
}

a:visited {
    color: black;
}

a:hover {
    color: #f3f3f3;
    text-decoration: none;
}

.loader {
    display: inline-block;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#notLDA {
    float: left;
}

#LDA {
    float: right;
}

#robot {
    height: 200px;
}

#smiley {
    width: 50%;
    height: 50px;
    background-color: red;
    margin: 0 auto;
    margin-top: 65px;
}

